p{
    color: #462501;
}
.sizeCatPic{
    width: 300px;

}
body{
    background-color: #f3d353;
}
a{
    background-color: #e2e583;
    color: #043f0e;
}
.block1{
    background-color: #e2e583;
    color: #5c1107;
}